@use "@scss/mixins/link";
@use "@scss/components/label";

.labelLive, .labelLiveOff {
  @extend.label-medium;
  padding: var(--spacing-xsmall) var(--spacing-xsmall);
  font-family: var(--font-family-title);
  font-size: 0.9rem;
}

.labelLive {
  color: var(--label-live-text-color);
  background-color: var(--label-live-bg-color);
}

.labelLiveOff {

}
