.container {
  display: block;
  height: 100dvh;
  margin: 0 auto;
  overflow: hidden;
}

.profileAvatar {
  position: fixed;
  z-index: 2;
  top: var(--spacing-small);
  right: var(--spacing-small);
}

.title {
  font-family: var(--font-family-title);
  background-color: var(--text-color);
  color: var(--text-bg-color);
  margin-block: 0;
  margin-inline: var(--spacing-small);
  padding-inline: var(--spacing-small);
  margin: 0 auto;
  z-index: 1;
  text-align: center;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;

}

.top {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  max-width: 800px;
  margin: auto;
  height: var(--layout-top-height);
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}

.content {
  position: relative;
  padding-bottom: var(--layout-padding-bottom);
  max-width: 800px;
  margin: 0 auto;
  word-wrap: break-word;
  white-space: break-spaces;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  min-height: 100%;
  scrollbar-gutter: stable both-edges;


  h1, h2, h3, h4, h5, h6 {
    &:first-of-type {
      margin-top: 0;
    }
  }
}

.contentWithPaddingTop {
  padding-top: var(--layout-padding-bottom);
}

.contentWithPaddingInline {
  padding-inline: var(--layout-padding-inline);
}


.bottomNavigation {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
