.icon {
  border-radius: 50%;
  border: 1px solid var(--border-color);
  width: 20px;
  height: 20px;
  display: block;
}

.icon-dragons {
  @extend .icon;
  background-color: var(--dragons-color);
}

.icon-tigers {
  @extend .icon;
  background-color: var(--tigers-color);
}

.icon-no-team {
  @extend .icon;
  background: var(--gradient-bg-color-bw);
}
