@use "@scss/components/label";

.programContainer {
  .eventLabelContainer {
    display: flex;
    div {
      width: 33.3333%;
      padding: var(--spacing-small) var(--spacing-medium);
    }

    .label {
      @extend.label-medium;
    }
  }
  .eventsContainer{
    display: flex;

    .event {
      width: 33.3333%;
      border-right: 1px solid #444444;
      padding: 0 var(--spacing-medium);

      &:last-child {
        border-right: 0;
      }
    }

    .time {
      color: var(--accent-color);
    }

    margin-bottom: var(--spacing-medium);
  }
}