@use "@scss/components/label";

$program-breakpoint: 600px;

.programContainer {
  .eventLabelContainer {
    display: flex;

    div {
      padding: var(--spacing-small) var(--spacing-small);
      width: 50%;
      @media(min-width: $program-breakpoint) {
        width: calc(100% / 3);
      }
    }

    .label {
      @extend .label-medium;
    }
  }

  .eventsContainer {
    display: flex;
    flex-direction: row;
    align-content: stretch;

    > div:first-child {
      border-left: 0;
    }

    .event {
      border-left: 1px solid #444444;
      padding: 0 var(--spacing-small);
      align-self: stretch;
      width: 50%;
      @media(min-width: $program-breakpoint) {
        width: calc(100% / 3);
      }
    }

    .eventLast {
      @extend .event;
      display: none;
      @media(min-width: $program-breakpoint) {
        display: block;
      }
    }

    .time {
      color: var(--accent-color);
    }

    margin-bottom: var(--spacing-medium);
  }
}
