.resultContainer {
  display: flex;
  justify-content: space-between;

  .result {
    aspect-ratio: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    min-width: 120px;
    position: relative;

    .resultLabel {
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
    }

    .resultInfo {
      font-size: 1.6em;
    }

    i, span {
      display: block;
    }

    .manage {
    }
  }
}
