.endGameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    border-top: 1px solid #222;
    border-right: 2px solid #222;
    border-bottom: 2px solid #222;
    border-left: 1px solid #222;
    background: var(--error-bg-color);

    /* button dark */
    box-shadow: 1px 2px 0px 0px #111;

    color: var(--text-color);
    text-align: center;
    font-family: var(--font-family-title);
    font-size: 0.875rem;
    line-height: 1;
    padding: var(--spacing-small);
  }

  .header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .plannedEnd {
    color: var(--accent-color);
    font-family: var(--font-family-title);
    font-size: 1.125rem;
    line-height: 1;
  }

  .remainingTime {
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-family-mono);
    font-size: 2.25rem;
    line-height: 1;
  }
}
