@use "@scss/components/label";

.trophy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.text {
  color: var(--Yellow, #fff500);
  text-align: center;
  font-family: JejuHallasan, serif;
  font-size: 24px;
}

.winner {
  display: block;
  position: relative;
}

.trophyImgContainer {
  position: relative;
}

.trophyImg {
  max-height: 60dvh;
  width: auto;
  display: block;
}

.teamWinner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.label {
  @extend .label-large;

  &.dragons {
    background-color: var(--dragons-color);
    color: var(--dragons-color-inverse);
  }

  &.tigers {
    background-color: var(--tigers-color);
    color: var(--tigers-color-inverse);
  }
}

.teamBadge {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
