
.playersList {
  .team {
    border-radius: 50%;
    border: 1px solid var(--border-color);
    width: 1.2em;
    height: 1.2em;
    display: block;
  }

  .dragons {
    background-color: var(--dragons-color);
  }

  .tigers {
    background-color: var(--tigers-color);
  }

  .noTeam {
    background: var(--gradient-bg-color-bw);
  }
}


h2, h3, h4, p {
  font-family: var(--font-family-board);
}

h2 {
  font-size: 1.6em;
  color: var(--accent-color);
}

.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  @media(min-width: 500px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  > span {
    line-height: 20px;
  }
}
