@use "@scss/mixins/button";
@use "@scss/mixins/link";
@use "@scss/variables";

.container {
  padding: var(--spacing-small);
  max-width: 500px;
  margin: auto;
  position: relative;
  z-index: 200;
}

.menu {
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size: 1.3em;
  padding: var(--spacing-xsmall);
  border-top: 1px solid var(--bottom-navigation-border-color-light);
  border-right: 1px solid var(--bottom-navigation-border-color-dark);
  border-bottom: 1px solid var(--bottom-navigation-border-color-dark);
  border-left: 1px solid var(--bottom-navigation-border-color-light);
  background-color: var(--bottom-navigation-bg-color);
  box-shadow: 2px 2px 0 0px rgba(0,0,0,0.25); //TODO
  backdrop-filter: blur(4.7px);
}

.menuItem {
  @include link.reset();
  color: var(--bottom-navigation-text-color);
  aspect-ratio: 1;
  border-radius: 50%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-bottom: none;

  &:hover, &:active, &:focus {
    color: var(--bottom-navigation-text-color);
    background: var(--bottom-navigation-bg-color);
  }

  i {
    display: inline-block;
    font-size: 1.2em;
  }

  &:global(.active) {
    color: var(--bottom-navigation-active-text-color);
  }
}
