.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);

  & > div {
    align-self: center;
  }
}

.name {
  text-align: center;
}

.gameList {
  display: flex;
  gap: var(--spacing-small);
  flex-wrap: wrap;
  justify-content: center;
}

.chatList {
  @extend .container;
  gap: var(--spacing-small);
  text-align: center;
}

.chatTitle {
  margin: var(--spacing-small) 0 0 0;
}

.admin {
  margin-top: var(--spacing-medium)
}

.logout {
  margin-top: var(--spacing-medium)
}
