@use "@scss/components/label";


.teamsContainer {
  --hexagon-height: 50px;
  margin: calc(var(--layout-padding-inline) * -1);

  display: flex;
  flex-direction: row;
  margin-bottom: calc(var(--hexagon-height) + var(--spacing-default))
}

.teamContainer {
  width: 50%;

  &.dragons {

    .teamTitle {
      color: var(--dragons-color-inverse);
      background-color: var(--dragons-color);
    }

    .teamCover {
      background-image: url('/public/static/backgrounds/cover_dragon_big.png');
    }

    .teamInfoContainer {
      background-color: var(--dragons-color);
      color: var(--dragons-color-inverse);

      &:before, &:after {
        background-color: var(--dragons-color);
        color: var(--dragons-color-inverse);
      }
    }
  }

  &.tigers {

    .teamTitle {
      color: var(--tigers-color-inverse);
      background-color: var(--tigers-color);
    }

    .teamCover {
      background-image: url('/public/static/backgrounds/cover_tiger_big.png');
    }

    .teamInfoContainer {
      background-color: var(--tigers-color);
      color: var(--tigers-color-inverse);

      &:before, &:after {
        background-color: var(--tigers-color);
        color: var(--tigers-color-inverse);
      }
    }
  }
}

.teamCover {
  min-height: 300px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.teamTitle {
  @extend .label-large;
  margin-bottom: var(--spacing-default);
}

.teamDescription {
  padding-bottom: var(--spacing-default);
}

.teamInfoContainer {
  position: relative;
  text-align: center;
  padding-inline: var(--spacing-default);

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    height: var(--hexagon-height);

    left: 0;
    right: 0;
  }

  &:before {
    clip-path: polygon(0 100%, 100% 100%, 50% 0%);
    top: calc(var(--hexagon-height) * -1);
  }

  &:after {
    clip-path: polygon(0 0, 100% 0%, 50% 100%);
    bottom: calc(var(--hexagon-height) * -1);
  }
}

.filtersSticky {
  position: fixed;
  top: 0;
  inset-inline: 0;
  padding-top: var(--layout-padding-top);
  padding-inline: var(--spacing-default);
  backdrop-filter: blur(3px);
  //background-color: black;

  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: var(--spacing-default) var(--spacing-medium);
  padding-bottom: var(--spacing-default);

  &:global(.sticky) {
    pointer-events: all;
    opacity: 1;
  }
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: var(--spacing-default) var(--spacing-medium);
  padding-bottom: var(--spacing-default);

  opacity: 1;
  pointer-events: all;

  &:global(.sticky) {
    pointer-events: none;
    opacity: 0;
  }
}

.playersListContainer {
  min-height: 50dvh;
}

.playersList {
  margin-top: var(--spacing-default);
}

.iconContainer {
  font-size: 1.2em;
}
