@use "@scss/components/label";


.teamsContainer {
  --hexagon-height: 50px;

  display: flex;
  margin-top: 2.2rem;
  flex-direction: row;
  margin-bottom: calc(var(--hexagon-height) + var(--spacing-default))
}

.teamContainer {
  width: 50%;


  &.dragons {

    .teamTitle {
      color: var(--dragons-color-inverse);
      background-color: var(--dragons-color);
    }

    .teamCover {

      background-image: url('/public/static/backgrounds/cover_dragon_big.png');

    }
    .teamBadge{
      color: var(--black);
      background-color: var(--white);
      border: 1px solid var(--white-dark);
      box-shadow: 0px 4px 0px 0px var(--gray-light);
    }

    .teamInfoContainer {
      background-color: var(--dragons-color);
      color: var(--dragons-color-inverse);

      &:before, &:after {
        background-color: var(--dragons-color);
        color: var(--dragons-color-inverse);

      }
    }
  }

  &.tigers {

    .teamTitle {
      color: var(--tigers-color-inverse);
      background-color: var(--tigers-color);
    }

    .teamCover {
      background-image: url('/public/static/backgrounds/cover_tiger_big.png');
      background-size: 120%;
      background-size: 170%;
      background-position-y: bottom; 
    }
    .teamBadge {
      color: var(--white);
      background-color: var(--black);
      border: 1px solid var(--black-pure);
      box-shadow: 0px 4px 0px 0px var(--black-dark);
    }
    .teamInfoContainer {
      background-color: var(--tigers-color);
      color: var(--tigers-color-inverse);

      &:before, &:after {
        background-color: var(--tigers-color);
        color: var(--tigers-color-inverse);

      }

    }
  }
}

.teamCover {
  min-height: 250px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.teamTitle {
  @extend .label-large;
  margin-bottom: var(--spacing-default);
}

.teamDescription {
  padding-bottom: var(--spacing-default);
  font-family: var(--font-family-fun);
  font-size: 1.2em;
}

.teamBadge{
  border-radius: 50%;
  padding: var(--spacing-small);
  font-size: 2em;
  width: 1.6em;
}

.teamInfoContainer {
  position: relative;
  text-align: center;
  padding-inline: var(--spacing-default);

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    height: var(--hexagon-height);

    left: 0;
    right: 0;
  }

  &:before {
    clip-path: polygon(0 100%, 100% 100%, 50% 0%);
    top: calc(var(--hexagon-height) * -1);
  }

  &:after {
    clip-path: polygon(0 0, 100% 0%, 50% 100%);
    bottom: calc(var(--hexagon-height) * -1);
  }
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-small);
  margin-top: var(--spacing-default);
  margin-bottom: var(--spacing-default)
}

.filtersTitle {
  text-align: center;
  margin:0;
}

.playersList {
  .team {
    border-radius: 50%;
    border: 1px solid var(--border-color);
    width: 1.2em;
    height: 1.2em;
    display: block;
  }
  .tigers {
    background-color: var(--black);
  }
  .dragons {
    background-color: var(--white);
  }

  .noTeam {
    background: var(--gradient-bg-color-bw);
  }
}

.iconContainer {
  font-size: 1.2em;
}
