@use "@scss/components/label";

.teamDescriptions {
  display: flex;
}

.tigersDescription, .dragonsDescription {
  padding: var(--spacing-small);
  text-align: center;
  width: 50%;
}

.tigersDescription {
  color: var(--white)
}

.dragonsDescription {
  color: var(--black)
}

.filtersSticky {
  position: fixed;
  top: 0;
  inset-inline: 0;
  padding-top: var(--layout-padding-top);
  padding-inline: var(--spacing-default);
  backdrop-filter: blur(4.7px);
  //background-color: black;

  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: var(--spacing-default) var(--spacing-medium);
  padding-bottom: var(--spacing-default);

  &:global(.sticky) {
    pointer-events: all;
    opacity: 1;
  }
}

.filtersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  gap: var(--spacing-default) var(--spacing-medium);
  padding-bottom: var(--spacing-default);

  opacity: 1;
  pointer-events: all;

  &:global(.sticky) {
    pointer-events: none;
    opacity: 0;
  }
}

.playersListContainer {
  min-height: 50dvh;
}

.playersList {
  margin-top: var(--spacing-default);
}

.playersListImg {
  width: 1.2em;
}

.iconContainer {
  font-size: 1.2em;
}

.breakMobile {
  display: block;
  @media(min-width: 450px) {
    display: none;
  }
}

.name {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  @media(min-width: 500px) {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  > span {
    line-height: 20px;
  }
}
