@font-face {
    font-family: 'JejuHallasan';
    src: url('JejuHallasan.woff2') format('woff2'),
        url('JejuHallasan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

