// TOOD: temporary!
table {
  border:1px solid lightgray;
  border-collapse: collapse;

  td {
    border:1px solid lightgray;
    text-align: center;
  }

  tr {
    &:nth-child(2n) {
      background-color: rgba(0,0,0,0.1);
    }
    &:hover {
      background-color: rgba(0,0,0,0.25);
    }
  }
}
