* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family-text);
  font-weight: 100;
  font-size: 1em;
  min-width: var(--html-min-width);
  min-height: 100dvh;
  background: var(--gradient-bg-color);
  color: var(--text-color);
  cursor: var(--cursor-default);
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  font-family: var(--font-family-title);
  font-weight: 500;
  line-height: 1.2;
  margin-inline: 0;
  margin-top: clamp(30px, 2vw, 60px);
  margin-bottom: clamp(10px, 1vw, 20px);
}

h1 {
  padding: 0 1em;
  font-size: clamp(1.2em, 2.6vw, 1.5em);
  text-align: center;
  color: var(--text-color-inverse);
  background: var(--text-bg-color-inverse);
}

h2 {
  font-size: clamp(1.2em, 1.4vw, 1.5em);
}

h3 {
  font-family: var(--font-family-label);
  font-size: clamp(1.3em, 1.5vw, 1.6em);
}

h4 {
  font-family: var(--font-family-text);
  font-size: clamp(1.2em, 1.3vw, 1.4em);
}

h5 {
  font-family: var(--font-family-text);
  font-size: clamp(1.1em, 1.2vw, 1.3em);
}

h6 {
  font-family: var(--font-family-text);
  font-size: clamp(1em, 1.3vw, 1.4em);
}

p {
  font-family: var(--font-family-text);
  font-size: clamp(1em, 1.4vw, 1.5em);
  line-height: 1.5;
  margin: 0 0 clamp(10px, 1vw, 25px) 0;
}

code {
  font-size: clamp(1em, 1.3vw, 1.6em);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: var(--link-color);
  text-decoration: underline;

  &:hover, &:focus, &:active {
    text-decoration: underline;
    color: var(--link-hover-text-color);
    cursor: var(--cursor-pointer);
  }
}


blockquote {
  border-left: 5px solid var(--text-color-secondary);
  margin-left: 0;
  padding-left: 2em;
}

ul, ol {
  li {
    @extend p;
  }
}

pre {
  word-wrap: break-word;
  white-space: break-spaces;
}

// TODO: remove it or improve it!
table {
  padding: 0.5em;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  width: 100%;

  td {
    padding: 0.5em;
    border: 1px solid var(--border-color);
    text-align: center;
  }

  thead {
    tr {
      position: sticky;
      top: 0;
      background-color: var(--text-bg-color-secondary) !important;
    }
  }

  tr {
    &:nth-child(2n) {
      background-color: var(--text-bg-color);
    }

    &:hover {
      background-color: var(--text-bg-color-secondary);
    }

    text-align: center;
    border-width: 1px 0 1px 0;
    border-color: #444444;
    border-style: solid;
    padding: 8px;
  }
}
