* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  font-family: var(--font-family-text);
  font-weight: 100;
  font-size: 1em;
  min-width: var(--html-min-width);
  min-height: 100dvh;
  background-color: var(--text-bg-color);
  color: var(--text-color);
  cursor: var(--cursor-default);
}

h1, h2, h3, h4, h5, h6 {
  position: relative;
  font-family: var(--font-family-title);
  font-weight: 500;
  line-height: 1.2;
  margin-inline: 0;
  margin-top: clamp(40px, 4vw, 100px);
  margin-bottom: clamp(20px, 2vw, 50px);
}

h1 {
  font-size: clamp(1.75em, 4vw, 3.5em);
  border-left: 10px solid var(--accent-color);
  padding-left: 20px;
}

h2 {
  font-size: clamp(1.6em, 3.2vw, 3em);
}

h3 {
  font-size: clamp(1.5em, 2.4vw, 2.5em);
}

h4 {
  font-size: clamp(1.4em, 2.15vw, 2.4em);
}

h5 {
  font-size: clamp(1.3em, 1.9vw, 2.2em);
}

h6 {
  font-size: clamp(1.2em, 1.8vw, 2.1em);
}

p {
  font-size: clamp(1em, 1.6vw, 2em);
  line-height: 1.5;
  margin: 0 0 clamp(10px, 1vw, 25px) 0;
}

code {
  font-size: clamp(1em, 1.2vw, 1.3em);
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: var(--font-family-button);
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--accent-color);

  &:hover, &:focus, &:active {
    text-decoration: none;
    color: var(--accent-color);
    cursor: var(--cursor-pointer);
  }
}

button {
	padding: var(--spacing-small) var(--spacing-default);
  font-family: var(--font-family-button);
	font-size: 1.2rem;
  color: inherit;
  border-bottom: 2px solid var(--gray-middle);
  border-left: 2px solid var(--gray-middle);
	border-radius: var(--border-radius);
	background-color: var(--white);

  &:hover, &:focus, &:active {
    cursor: var(--cursor-pointer);

    border-color: var(--gray-light);
    border-bottom-width: 1px;
    border-left-width: 1px;
    background: var(--accent-color);
    transform: rotate(-1deg);
  }
}

blockquote {
  border-left: 5px solid var(--text-color-secondary);
  margin-left: 0;
  padding-left: 20px;
}

ul, ol {
  li {
    @extend p;
  }
}

// TODO: remove it or improve it!
table {
  border: 1px solid lightgray;
  border-collapse: collapse;

  td {
    border: 1px solid lightgray;
    text-align: center;
  }

  thead {
    tr {
      position: sticky;
      top: 0;
      background-color: gray !important;
    }
  }

  tr {
    &:nth-child(2n) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.25);
    }
  }
}
