.link {
  color: var(--link-color);
  //text-decoration: none;
  //border-bottom: 1px solid var(--accent-color);

  &:hover, &:focus, &:active {
    color: var(--accent-color);
    cursor: var(--cursor-pointer);
  }
}
