.link {
  color: var(--link-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-color);
  transition: transform var(--transition-duration) ease-in-out;

  &:hover, &:focus, &:active {
    color: var(--accent-color);
    cursor: var(--cursor-pointer);
    text-decoration: none;
    transform: rotate(-3deg);
  }
}
