@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


@font-face {
    font-family: 'JejuHallasan';
    src: url('/static/fonts/JejuHallasan/JejuHallasan.woff2') format('woff2'),
        url('/static/fonts/JejuHallasan/JejuHallasan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}