@use "theme";

:root {
  color-scheme: light dark;

  //STRUCTURE
  --html-min-width: 300px;

  --cursor-default: default;
  --cursor-pointer: pointer;

  //COLORS
  --black: #222;
  --black-light: #111;
  --white: #eee;
  --white-dark: #d0d0d0;
  --gray-dark: #333;
  --gray-middle: #666;
  --gray-light: #888;
  --blue: #008dc9;
  --red: #d00;
  --accent-color: rgba(204, 255, 0);

  --link-color: inherit;

  //FONTS
  --font-family-title: 'Bungee Shade', Georgia, serif;
  --font-family-button: 'Bungee', Georgia, serif;
  --font-family-text: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-fun: 'Gochi Hand', 'Roboto', Verdana, Helvetica, Arial, sans-serif;
  --font-family-board: 'Special Elite', 'Roboto', Verdana, Helvetica, Arial, sans-serif;
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;


  //MARGINS
  --spacing-small: 0.5rem;
  --spacing-default: 1rem;
  --spacing-medium: 2rem;
  --spacing-big: 4rem;

  //BORDERS
  --border-radius: 0.5rem;

  //TRANSITIONS
  --transition-duration: .2s;
  --navbar-transition-duration: .5s;
}

[data-theme=light] {
  @include theme.light;
}

[data-theme=dark] {
  @include theme.dark;
}

// OS Default.
:root:not([data-theme=light]):not([data-theme=dark]) {
  @media (prefers-color-scheme: light) {
    @include theme.light;
  }

  @media (prefers-color-scheme: dark) {
    @include theme.dark;
  }
}
