@use "theme";

:root {
  color-scheme: light dark;

  //STRUCTURE
  --html-min-width: 300px;

  --cursor-default: default;
  --cursor-pointer: pointer;

  //COLORS
  --black-pure: #000;
  --black-dark: #111;
  --black: #222;
  --black-light: #333;

  --white-pure: #FFF;
  --white: #EEE;
  --white-dark: #DDD;
  --white-darker: #D0D0D0;

  --gray-dark: #444;
  --gray: #666;
  --gray-light: #888;
  --gray-lighter: #CCC;

  --blue: #008dc9;
  --yellow: rgb(255, 245, 0);
  --red: #d00;
  --orange: #FF8A00;
  --accent-color: var(--yellow);

  --tigers-color: var(--black);
  --tigers-color-inverse: var(--white);
  --dragons-color: var(--white);
  --dragons-color-inverse: var(--black);

  // BOX-SHADOW
  --box-shadow-width-default: 1px 2px 0px;

  //FONTS
  --font-family-title: 'Bungee', Georgia, serif;
  --font-family-button: 'Bungee', Georgia, serif;
  --font-family-label: 'JejuHallasan', Georgia, serif;
  --font-family-fun: 'Itim', 'Roboto', Verdana, Helvetica, Arial, sans-serif;
  --font-family-text: 'Special Elite', 'Roboto', Verdana, Helvetica, Arial, sans-serif;
  --font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-badge: Xahn Mono, sans-serif;
  --font-family-digit: 'VT323', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  //MARGINS
  --spacing-xsmall: 0.3rem;
  --spacing-small: 0.5rem;
  --spacing-default: 1rem;
  --spacing-medium: 2rem;
  --spacing-big: 4rem;

  // LAYOUT
  --layout-top-height: 65px;
  --layout-padding-top: 80px; //calc(var(--layout-top-height) + var(--spacing-default)); // It doesn't work with JS
  --layout-padding-bottom: 120px;
  --layout-padding-inline: var(--spacing-default);

  //BORDERS
  --border-radius: 0.5rem;

  //TRANSITIONS
  --transition-duration: .2s;
  --navbar-transition-duration: .5s;
}

[data-theme=light] {
  @include theme.light;
}

[data-theme=dark] {
  @include theme.dark;
}

// OS Default.
:root:not([data-theme=light]):not([data-theme=dark]) {
  @media (prefers-color-scheme: light) {
    @include theme.light;
  }

  @media (prefers-color-scheme: dark) {
    @include theme.dark;
  }
}
