.endGameContainer {
  margin: var(--spacing-medium) 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 30%;
  }

  .header {
    display: flex;
    gap: 1rem;
  }

  .timerContainer {}

  .plannedEnd, .plannedStart {
    color: var(--accent-color);
    font-family: var(--font-family-fun);
    font-size: var(--label-medium-font-size);
    line-height: var(--label-medium-font-size);
    padding:var(--label-padding);
  }

  .remainingTime {
    color: var(--text-color);
    text-align: center;
    font-family: var(--font-family-digit);
    padding-top: var(--spacing-small);
    font-size: 2.5rem;
    line-height: 1;
  }
}
