@use "@scss/mixins/button";

.profile {
  @include button.reset();
  color: var(--profile-avatar-text-color);
  background-color: var(--profile-avatar-bg-color);
  padding: var(--spacing-small);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 3em;
  display: inline-block;
  font-size: 1.3em;


  i {
    font-size: 2em;
  }
}
